/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.root-row {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-fluid {
  padding: 0;
}

.content-body {
  padding: 0;
}

.app-header {
  background-color: #19A196;
  height: 45px;
  color: white;
  margin: 0;
}

.title-text {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}

.title-text a {
  text-decoration: none;
  color: #FFF;
}

.title-text a :hover {
  text-decoration: none;
  color: #FFF;
}

.sidebar {
  padding: 0;

}

@media (min-width: 768px){
  .container {
    width: 100%;
    margin: 0;
  }

  .navbar-collapse {
    width:  75%;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .sidebar{
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    display: block;
  }

  .navbar-container{
    padding: 0;
    height: 100%;
    margin: 0;
  }

  .navbar-container .container{
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .navbar-header {
    width: 100%;
    padding-left: 10px;
  }

  .navbar-collapse {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar-nav li{
    width: 100%;
  }
}

.nav-stacked {
  width: 100%;
}

.navbar-collapse li {
  color: #777;
}

.navbar-collapse li:hover {
  background-color: rgb(190, 190, 190)
}

.categories-menu-title{
  margin-bottom: 0px;
}

.category-title {
  height: 44px;
  background-color: rgb(66, 66, 66);
  order: 1;
}

.category-title h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  color: #FFF;
  order: 1;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-post-button {
  order: 2;
}

.new-post-button>button,
.new-post-button>button:active,
.new-post-button>button:focus,
.new-post-button>button:visited {
  width: 100px;
  margin-right: 5px;
  color: #FFF;
  background-color: rgb(66, 66, 66);
  border-color: #CCC;
  outline: none;
}

.new-post-button>button:hover {
  width: 100px;
  margin-right: 5px;
  color: #000;
  background-color: #FFF;
}

.button:active {
  color: #000;
  background-color: #FFF;
}

.button:active,
.button:visited {
  color: #000;
  background-color: #FFF;
  border-color: #000
}

.nav-tabs {
  background-color: rgb(66, 66, 66);
  border-bottom: 1px solid rgb(66,66,66);
  order: 0;
}

.nav-tabs>li>a {
  color: #FFF;
  border: rgb(66, 66, 66);
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #19A196;
  background-color: rgb(66, 66, 66);
  border: rgb(66, 66, 66);
  outline: none !important;
}

.posts-list-body {
 padding-left: 30px;
}

.post-section {
  padding: 0 15px;
}

.post-detail>.category-title>h2 {
  width: 100%;
}

.post-title a {
  text-decoration: none;
  color: black;
}

.post-title a:hover,
.post-title a:active  {
  text-decoration: none;
  color: #19A196;
}

.post-item {
  margin-bottom: 30px;
}

.post-info, .comment-info {
  display: flex;
  font-size: 13px;
  font-weight: 300;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.comments-panel {
  border: none;
}

.comments-panel .panel-heading {
  background: #FFF;
  border: none;
}

.form-text-input {
  width: 250px;
}

.form-label {
  font-size: 14px;
  margin: 5px 15px 0px 25px;
}

.form-textarea {
  margin-left: 20px;
  width: 50%;
}

.title-input {
  width: 100%;
}

textarea.post-textarea-input.form-control {
  height: 300px;
}

.comment-body {
  font-size: 15px;
  margin-left: 10px;
}

.vote-score {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vote-score h4{
  margin: 0;
}

.vote-score svg{
  margin-left: 5px;
}

.upvote:hover {
  color: #19A196;
}

.downvote:hover {
  color: rgb(252, 67, 67)
}

.controls-dropup h4 {
  margin-right: 10px;
  margin-left: 5px;
}

.controls-dropup a,
.controls-dropup a:visited {
  color: #000;
}

.controls-dropup a:hover,
.controls-dropup a:focus,
.controls-dropup a:active {
  color: #19A196;
  outline: none;
}

.cancel-button,
.form-button  {
  margin-left: 15px;
}

