/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.App-header {
  background-color: #19A196;
  height: 45px;
  color: white;
  margin: 0;
}

.title-text {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}

.title-text a {
  text-decoration: none;
  color: #FFF;
}

.title-text a :hover {
  text-decoration: none;
  color: #FFF;
}

.categories-menu-title{
  margin-bottom: 0px;
}

.category-title {
  margin: 0;
  width: calc(100% + 15px);
  font-size: 25px;
  font-weight: 300;
  color: #FFF;
  background-color: rgb(66, 66, 66);
}

.navbar-container {
  height: 45px;
}

.navbar-container .container {
  padding: 0;
}

.navbar-header {
  padding-left: 15px;
}

.navbar-collapse {
  padding: 0;
}

.navbar-nav {
  padding: 0;
}

.navbar-collapse li {
  width: 100%;
  color: #777;
}

.navbar-collapse li:hover {
  background-color: rgb(190, 190, 190)
}

.new-post-button {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 80%;
}

.new-post-button:active {
  color: #FFF;
  background-color: #19A196;
}

.new-post-button:hover {
  color: #FFF;
  background-color: #19A196;
}

.new-post-button:visited {
  color: #000;
  background-color: #FFF;
}

@media (max-width: 1250px) {
  .new-post-button {
    width: 94px;
  }
}

@media (min-width: 950px) { 
  .content-body {
    position: absolute;
    width: calc(85% + 10px);
    top: 45px;
    margin-left: calc(15% - 10px);
  }

  .categories-menu-title {
    width: 100%;
  }

  .navbar {
    margin: 0;
    position: absolute;
    height: calc(100% - 45px);
    width: calc(15% - 10px);
    border-right: 1px solid #B4B4B4;
    border-radius: 0;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar .container {
    width: 100%;
    height: 40px;
  }

  .category-title {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 950px) {
  .navbar {
    height: 100%;
    margin-bottom: 10px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .container {
    width: 100%;
  }
  .new-post-button {
    width: 80%;
  }
}

.posts-list-body {
 padding-left: 30px;
}

.post-section {
  padding: 0 15px;
}

.post-title a {
  text-decoration: none;
  color: black;
}

.post-title a:hover {
  text-decoration: none;
  color: #19A196;
}

.post-title a:active {
  text-decoration: none;
  color: #19A196;;
}

.post-item {
  margin-bottom: 30px;
}

.vote-score {
  margin-left: 5px;
}

.post-info, .comment-info {
  font-size: 13px;
  font-weight: 300;
}

.comments-panel {
  border: none;
}

.comments-panel .panel-heading {
  background: #FFF;
  border: none;
}

.comment-body {
  font-size: 15px;
}

.vote-score svg{
  margin-left: 5px;
}

.upvote:hover {
  color: #19A196;
}

.downvote:hover {
  color: rgb(252, 67, 67)
}