
/* Whole document */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

/* App container */
.root-row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.content-body {
  padding: 0;
}

/* Header */
.app-header {
  background-color: #19a196;
  height: 45px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title-text {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}

.title-text a {
  text-decoration: none;
  color: #fff;
}

.title-text a :hover {
  text-decoration: none;
  color: #fff;
}

/* Sidebar */
.sidebar {
  padding: 0;
}

.nav-stacked {
  width: 100%;
}

.navbar-collapse li {
  color: #777;
}

.navbar-collapse li:hover {
  background-color: #bebebe
}

.categories-menu-title{
  margin-bottom: 0px;
}

/* Category title bar */
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Title */
.category-title {
  height: 44px;
  background-color: #424242;
  order: 1;
}

.category-title h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.post-detail>.category-title>h2 {
  width: 100%;
}

/* Post order nav tabs */
.nav-tabs {
  background-color: #424242;
  border-bottom: 1px solid #424242;
  order: 0;
}

.nav-tabs>li>a {
  color: #fff;
  border: #424242;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #19A196;
  background-color: #424242;
  border: #424242;
  outline: none !important;
}

/* New post button */ 
.new-post-button {
  order: 2;
}

.new-post-button>button,
.new-post-button>button:active,
.new-post-button>button:focus,
.new-post-button>button:visited {
  width: 100px;
  margin-right: 5px;
  color: #fff;
  background-color: #424242;
  border-color: #ccc;
  outline: none;
}

.new-post-button>button:hover {
  width: 100px;
  margin-right: 5px;
  color: #000;
  background-color: #fff;
}

.button:active {
  color: #000;
  background-color: #fff;
}

.button:active,
.button:visited {
  color: #000;
  background-color: #fff;
  border-color: #000
}

/* Post list */
.posts-list-body {
 padding-left: 30px;
 list-style-type: none;
 display: flex;
 flex-flow: column;
}

.post-item {
  margin-bottom: 30px;
  height: auto !important;
  overflow: visible !important;
}

.post-title a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.post-title a:hover,
.post-title a:active  {
  text-decoration: none;
  color: #19a196;
}

.comments-number {
  font-size: 15px;
}

.post-info, .comment-info {
  display: flex;
  font-size: 13px;
  font-weight: 300;
  justify-content: flex-start;
  margin-bottom: 5px;
}

/* Post detail */
.post-section {
  padding: 0 15px;
}

/* Post comments section */
.comments-panel {
  border: none;
}

.comments-panel .panel-heading {
  background: #fff;
  border: none;
}

.comment-body {
  font-size: 15px;
  margin-left: 10px;
}

/* Post and comment forms */
.form-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-text-input {
  width: 250px;
}

.form-label {
  font-size: 14px;
  margin: 5px 15px 0px 25px;
}

.form-textarea {
  margin-left: 20px;
  width: 50%;
}

.title-input {
  width: 100%;
}

textarea.post-textarea-input.form-control {
  height: 300px;
}

.form-button  {
  margin-left: 15px;
}

/* Vote score controls */
.vote-score {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vote-score h4{
  margin: 0;
}

.vote-score svg{
  margin-left: 5px;
}

.upvote:hover {
  color: #19a196;
}

.downvote:hover {
  color: #fc4341;
}

/* Controls dropup */
.controls-dropup {

}

.controls-dropup h4 {
  margin-right: 10px;
  margin-left: 5px;
}

.controls-dropup a,
.controls-dropup a:visited {
  color: #000;
}

.controls-dropup a:hover,
.controls-dropup a:focus,
.controls-dropup a:active {
  color: #19a196;
  outline: none;
}

/* Show uncollapsed navbar on big screens*/
@media (min-width: 768px){
  .container {
    width: 100%;
    margin: 0;
  }

  .navbar-collapse {
    width:  75%;
    margin: 0;
  }
}

/* Show sidebar insetad of navbar on bigger screens*/
@media (min-width: 992px) {
  .sidebar{
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    display: block;
  }

  .navbar-container{
    padding: 0;
    height: 100%;
    margin: 0;
  }

  .navbar-container .container{
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .navbar-header {
    width: 100%;
    padding-left: 10px;
  }

  .navbar-collapse {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar-nav li{
    width: 100%;
  }
}

/* Adjust elements to fit on small screens */
@media (max-width: 768px) {
  /* Header */
  .app-header {
    justify-content: space-between;
  }

  .title-text {
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 0 15px;
  }

  .new-post-button>button,
  .new-post-button>button:active,
  .new-post-button>button:focus,
  .new-post-button>button:visited {
    width: 100px;
    margin-right: 5px;
    color: #fff;
    background-color:  #19a196;
    border-color: #fff;;
    outline: none;
  }
  
  .new-post-button>button:hover {
    width: 100px;
    margin-right: 5px;
    color: #19a196;
    background-color: #fff;
  }

  /* Post list */
  /* Category header */
  .category-title {
    order: 0;
    justify-content: space-between;
  }

  .nav-tabs {
    order: 1;
  }

  .nav-tabs li a {
    float: right;
    padding: 0 5px 0 5px;
    font-size: 15px;
  }

  .category-title h2 {
    font-size: 20px;
    margin: 0 5px 0 5px;
  }

  /* Post list content */
  .posts-list-body {
    padding: 0 10px 0 10px;
  }

  /* Post and comment forms */
  .form-label {
    font-size: 14px;
    margin: 5px 10px 0px 5px;
  }

  .form-text-input {
    width: 100%;
    margin: 0 10px 0 0;
  }

  .form-textarea {
    margin: 0;
    padding: 0 10px 0 10px;
    width: 100%;
    height: auto;
  }

  .form-flex-container {
    justify-content: space-between;
  }

  .form-button {
    margin: 0;
  }
}